<%= simple_form_for @group do |f| %>
<div class="form-group">
  <%= f.input :title, input_html: {class: "form-control"} %>
  <%= f.input :description, input_html: {class: "form-control"} %>
</div>

<%#= f.submit "submit", class: "btn btn-primary", disable_with: "submitting" %>
<!-- 这句话是错的 不会有Submitting显示 -->
<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
