<% if flash.any? %>
<% user_facing_flahes.each do |key, value| %>
<div class="alert alert-dimissable alert-<%= flash_class(key) %>">
  <button class="close" data-dismiss="alert"> x </button>
  <%= value  %>
</div>
<% end %>
<% end %>
